
@using DMStorefront.Shared.Models.Item;
@using System.Linq

<h3>form</h3>
<EditForm Model="@item" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Item Name :</label>
        <div>
            <InputText @bind-Value="@item.Name" />
            <ValidationMessage For="@(() => item.Name)" />
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Weight :</label>
            <div>
                <InputNumber @bind-Value="@item.Weight" />
                <ValidationMessage For="@(() => item.Weight)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Price :</label>
            <div>
                <InputNumber @bind-Value="@item.Price.Gold" />
                <ValidationMessage For="@(() => item.Price.Gold)" />
                <InputNumber @bind-Value="@item.Price.Silver" />
                <ValidationMessage For="@(() => item.Price.Silver)" />
                <InputNumber @bind-Value="@item.Price.Copper" />
                <ValidationMessage For="@(() => item.Price.Copper)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Description :</label>
            <div>
                <InputText @bind-Value="@item.Description" />
                <ValidationMessage For="@(() => item.Description)" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>
@code {
    [Parameter] public Item item { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}

