@using DMStorefront.Shared.Models;
@using System.Linq


<EditForm Model="@Item" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Item Name :</label>
        <div>
            <InputText @bind-Value="@Item.Name" />
            <ValidationMessage For="@(() => Item.Name)" />
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Weight :</label>
            <div>
                <InputNumber @bind-Value="@Item.Weight" />
                <ValidationMessage For="@(() => Item.Weight)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Price :</label>
            <div>
                <InputNumber @bind-Value="@Item.Price" />
                <ValidationMessage For="@(() => Item.Price)" />
                    <label for="Price">Gold</label>
               
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Description :</label>
            <div>
                <InputText @bind-Value="@Item.Description" />
                <ValidationMessage For="@(() => Item.Description)" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>


@code {
    [Parameter] public Item Item { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}

